[Unit]
Description=Software network load balancer service
ConditionPathExists=/opt/lbost1aipr/lbost1aipr
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024
Restart=on-failure
RestartSec=10
WorkingDirectory=/opt/lbost1aipr
ExecStartPre=mkdir -p /run/lbost1aipr
ExecStart=/opt/lbost1aipr/lbost1aipr run
KillSignal=SIGINT
SendSIGKILL=no
PermissionsStartOnly=true
[Install]
WantedBy=multi-user.target