[Unit]
Description=Software network load balancer service
ConditionPathExists=/opt/lbost1ac/lbost1ac
After=network.target
Requires=lbost1ah.service

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024
Restart=on-failure
RestartSec=10
WorkingDirectory=/opt/lbost1ac
ExecStartPre=mkdir -p /run/lbost1ac
ExecStart=/opt/lbost1ac/lbost1ac run
KillSignal=SIGINT
SendSIGKILL=no
PermissionsStartOnly=true
[Install]
WantedBy=multi-user.target