[Unit]
Description=crispy ipvs daemon
ConditionPathExists=/opt/lbost1ai/lbost1ai
After=network.target

[Service]
Type=simple
User=root
Group=root
LimitNOFILE=1024
Restart=on-failure
RestartSec=10
WorkingDirectory=/opt/lbost1ai
ExecStart=/opt/lbost1ai/lbost1ai run
KillSignal=SIGINT
SendSIGKILL=no
PermissionsStartOnly=true

[Install]
WantedBy=multi-user.target